.button {
  border: none;
  outline: none;
  cursor: pointer;
  display: inline-flex;
  padding: 12px 20px;
  border-radius: 8px;
  background-color: #fcbfff;
  transition: all 0.3s ease-in-out;
}

.button:not(:disabled):hover {
  background-color: #fd94ff;
}

.button:not(:disabled):active {
  background-color: #fd94ff;
}

.button:disabled {
  cursor: default;
  opacity: 0.6;
}
